version: '3'

services:
  
  apache:
    image: ${PROJECT_NAME}/apache
    build:
      context: "./apache"
      dockerfile: "Dockerfile"
    ports:
     - "80:80"
     - "443:443"
    restart: always
    volumes:
     - ./apache/conf.d:/etc/apache2/conf.d
     - ./apache/logs:/var/log/apache2
     - ../public:/var/www/html
     - ./awstats/data:/var/lib/awstats
     - ../target:/target
